.modal-title{
    color: rgb(37, 106, 235);
    text-align: center;
    font-size: x-large;
    padding-bottom: 1rem;
}
.card-title {
    font-size: large;
}

.card-icon{
    height: 40px;
    width: 40px;
    background-color: rgb(37, 106, 235);
    margin: 1rem;
    border-radius: 50%;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
}

// height: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-around;